*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url("static/background.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #C73872;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #C73872;
    transition: .4s;
}

.btn{
    background-color: #C73872;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 3px solid #C73872;
    cursor: pointer; 
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #8B5DA2;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 15px;
    border: 2px solid #C73872;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #1A031C;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about h5{
    font-size: 21px;
    margin-bottom: 23px;
    text-transform: capitalize;
    color: white;
    letter-spacing: 3px;
}

button{
    background-color: #C73872;
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 28px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 3px solid #C73872;
    cursor: pointer; 
}

.contact-me{
    width: 100%;
    height: 300px;
    background: #382557;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 27px;
}

.contact-me .button-two{
    background-color: #C73872;
    color: white;
    border: 3px solid transparent;
    padding: 15px 28px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 3px solid #C73872;
    cursor: pointer;
}